
@import "@ionic/angular/css/core.css";


@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";


@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import '@ionic/angular/css/palettes/dark.system.css';

ion-content {
  --background: #fffcea; 
}

ion-toolbar {
  --background: #fffcea;
  --color: #333333;
}


ion-content {
  --background: #fdfbf7;
}

ion-toolbar {
  --background: #4A5D4E; 
  --color: #ffffff;      
}


ion-button:not([fill="outline"]) {
  --background: #4A5D4E;
  --color: #ffffff;
}

ion-button[fill="outline"] {
  --color: #4A5D4E;
  --border-color: #4A5D4E;
}
