ion-button {
  --border-radius: 25px; 
  font-weight: 600;
  margin: 1.5rem 1rem;
}

ion-button {
  --border-radius: 25px;
  --background: #4A5D4E;
  --color: #ffffff;
  font-weight: 600;
  margin: 1.5rem 1rem;
}